body{
	background-color: #FFFFFF;
	background-image: url("imagens/tribalistasfoto.jpg");
	background-repeat: no-repeat
}

#par1{ color: #FFFFFF;
	font-family: Helvetica;
	font-size: 20px;
}

h1{ color: #A52A2A;
	font-family: calibri;
	font-size: 35px;
	text-align: 	
	
}
p{
	color: #4B0082;
	font-family: Arial;
	font-size: 18px;
	text-align: justify;
}